@model IEnumerable<Proyecto.Models.Categories>

@{
    ViewBag.Title = "Index";
}

<h2>Pagina Principal de Categorias</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
     
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CategoryId)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.CategoryName)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>

    <td>
        <a class="btn btn-info btn-xs" href="/Home/Edit?id=@item.CategoryId">
            <i class="far fa-edit fa-xs"></i>
        </a>
        <a class="btn btn-danger btn-xs" href="/Home/Delete?id=@item.CategoryId">
            <i class="far fa-trash-alt"></i>
        </a>
    </td>
</tr>
    }

</table>
